#ui()
{
	.button(
		@bg-color:     rgba(255,255,255,0),
		@color:        @button-color,
		@hover:        @button-hover-color-bg,
		@font-size:    @button-font-size,
		@padding-ver:  @button-padding-ver,
		@paddong-hor:  @button-padding-hor,
		@border-width: @button-border-width,
		@prefix:       @button-class-prefix)
	{
		@hover-bg-color:  #ui.hover-bg(@hover, @bg-color)[result];
		@active-bg-color: #ui.active-bg(@hover-bg-color)[result];

		#ui-button.template(@font-size, @padding-ver, @paddong-hor, @border-width);
		#ui-button.sizes(@font-size, @prefix);

		&
		{
			color: @color;
			background-color: @bg-color;
		}
		&:hover
		{
			background-color: @hover-bg-color;
		}
		&:active
		{
			background-color: @active-bg-color;
		}
		&:disabled
		{
			color: @color !important;
			background-color: @bg-color !important;
			opacity: @button-disabled-opacity !important;
			cursor:  @button-disabled-cursor;
		}


		.round()
		{
			&.@{prefix}round
			{
				border-radius: 150px;
			}
		}
		.thin()
		{
			&.@{prefix}thin
			{
				padding-left:  @padding-ver;
				padding-right: @padding-ver;
			}
		}
		.collapse()
		{
			&.@{prefix}collapse
			{
				padding: 0;
				min-height: auto;
			}
		}
		.circle()
		{
			&.@{prefix}circle
			{
				border-radius: 150px;
				padding-left:  @padding-ver;
				padding-right: @padding-ver;
			}
		}

		.invert()
		{
			@hover-type: if(iscolor(@hover), if(iscolor(@button-hover-color-bg), default, @button-hover-color-bg), @hover);
			@hover-bg-color:  #ui.hover-bg(@hover-type, @color)[result];
			@active-bg-color: #ui.active-bg(@hover-bg-color)[result];

			&.@{prefix}invert
			{
				color: @bg-color;
				background-color: @color;

				&:hover
				{
					border-color: @hover-bg-color;
					background-color: @hover-bg-color;
				}
				&:active
				{
					border-color: @active-bg-color;
					background-color: @active-bg-color;
				}
				&:disabled
				{
					color: @bg-color !important;
					background-color: @color !important;
				}
			}
		}
		.text()
		{
			&.@{prefix}text
			{
				color: @bg-color;
				background-color: transparent;

				&:hover
				{
					color: @color;
					border-color: @hover-bg-color;
					background-color: @hover-bg-color;
				}
				&:active
				{
					border-color: @active-bg-color;
					background-color: @active-bg-color;
				}
				&:disabled
				{
					color: @bg-color !important;
					background-color: transparent !important;
				}
			}
		}
		.outline()
		{
			&.@{prefix}outline
			{
				color: @bg-color;
				border-color: @bg-color;
				background-color: transparent;

				&:hover
				{
					color: @color;
					border-color: @hover-bg-color;
					background-color: @hover-bg-color;
				}
				&:active
				{
					border-color: @active-bg-color;
					background-color: @active-bg-color;
				}
				&:disabled
				{
					color: @bg-color !important;
					border-color: @bg-color !important;
					background-color: transparent !important;
				}
			}
		}
		.fount()
		{
			&.@{prefix}fount
			{
				@border-color: fade(@color, alpha(@color) / 2 * 100);

				border-color: @border-color;
				background-color: transparent;

				&:hover
				{
					border-color: @hover-bg-color;
					background-color: @hover-bg-color;
				}
				&:active
				{
					border-color: @active-bg-color;
					background-color: @active-bg-color;
				}
				&:disabled
				{
					border-color: @border-color !important;
					background-color: transparent !important;
				}
			}
		}
		.ghost()
		{
			&.@{prefix}ghost
			{
				@border-color: fade(@color, alpha(@color) / 2 * 100);

				border-color: @border-color;
				background-color: transparent;

				&:hover
				{
					color: @hover-bg-color;
					border-color: @hover-bg-color;
				}
				&:active
				{
					color: @active-bg-color;
					border-color: @active-bg-color;
				}
				&:disabled
				{
					color: @hover-bg-color !important;
					border-color: @border-color !important;
					background-color: transparent !important;
				}
			}
		}

		.loading()
		{
			&.@{prefix}loading
			{
				color: transparent !important;

				.keyframes(rotateRight);

				&::after
				{
					content: '';
					// fix disproportions of width and height due to sub-pixel rounding bug
					display: table;
					position: absolute;
					z-index: 100;
					top:  50%;
					left: 50%;
					width:  auto;
					height: auto;
					width:  1.24em;
					height: 1.24em;
					margin-top:  -0.62em;
					margin-left: -0.62em;
					border-radius: 150px;
					border-width: 0.1837em;
					border-style: solid;
					border-color: currentColor transparent transparent currentColor;
					animation: rotateRight 1s infinite linear;

					.keyframes(rotateRight);
				}
			}
		}
	}
}

#ui-button()
{
	.template(@font-size, @padding-ver, @padding-hor, @border-width)
	{
		@em: 2 * @padding-ver + 1em * @button-line-height;
		@px: 2 * @border-width;

		min-width:  calc(@em + @px);
		min-height: calc(@em + @px);
		padding:      @padding-ver @padding-hor;
		font-size:    @font-size;
		border-width: @border-width;
	}
	.template(...)
	{
		margin:         @button-margin;
		font-weight:    @button-font-weight;
		line-height:    @button-line-height;
		text-transform: @button-text-transform;
		border-radius:  @button-radius;
		border-style:   @button-border-style;

		display: inline-block;
		position: relative;
		overflow: hidden;
		vertical-align: middle;
		font-style: normal;
		text-align: center;
		text-decoration: none;
		border-color: transparent;
		background-clip: border-box;
		cursor: pointer;
		user-select: none;
		appearance: none;
		transition: color 0.1s cubic-bezier(0, 0, 0.2, 1),
					border-color 0.1s cubic-bezier(0, 0, 0.2, 1),
					background-color 0.2s cubic-bezier(0.25,0.8,0.25,1);

		// remove text-decoration for links
		&:hover
		{
			text-decoration: none;
		}
	}


	.sizes(@font-size, @prefix)
	{
		#ui.fs-sizes-mixins(@font-size, @prefix);
	}
}
