#ui()
{
	.button(@bg-color,
		@color: @button-color,
		@hover: @button-hover-color-bg,
		@font-size: @button-font-size,
		@pad-ver: @button-padding-ver,
		@pad-hor: @button-padding-hor,
		@border-width: @button-border-width,
		@prefix: @button-class-prefix)
	{
		@hover-color:  #ui-button.hover-bg(@hover, @bg-color)[result];
		@active-color: #ui-button.active-bg(@hover-color)[result];

		#ui-button.template(@font-size, @pad-ver, @pad-hor, @border-width);
		#ui-button.sizes(@font-size, @prefix);

		&
		{
			&
			{
				background-color: @bg-color;
				color: @color;

				&, &::after
				{
					color: @color;
				}
			}
			&:hover
			{
				background-color: @hover-color;
			}
			&:active
			{
				background-color: @active-color;
			}
			&:disabled
			{
				background-color: @bg-color !important;
				opacity: @button-disabled-opacity !important;
				cursor:  @button-disabled-cursor;

				&, &::after
				{
					color: @color !important;
				}
			}
		}


		.round()
		{
			&.@{prefix}round
			{
				border-radius: 150px;
			}
		}
		.thin()
		{
			&.@{prefix}thin
			{
				padding-left:  @pad-ver;
				padding-right: @pad-ver;
			}
		}
		.circle()
		{
			&.@{prefix}circle
			{
				border-radius: 150px;
				padding-left:  @pad-ver;
				padding-right: @pad-ver;
			}
		}

		.text()
		{
			&.@{prefix}text
			{
				background-color: transparent;

				&, &::after
				{
					color: @bg-color;
				}
				&:hover
				{
					color: @color;
					border-color: @hover-color;
					background-color: @hover-color;

					&, &::after
					{
						color: @color;
					}
				}
				&:active
				{
					border-color: @active-color;
					background-color: @active-color;
				}
			}
		}
		.outline()
		{
			&.@{prefix}outline
			{
				border-color: @bg-color;
				background-color: transparent;

				&, &::after
				{
					color: @bg-color;
				}
				&:hover
				{
					color: @color;
					border-color: @hover-color;
					background-color: @hover-color;

					&, &::after
					{
						color: @color;
					}
				}
				&:active
				{
					border-color: @active-color;
					background-color: @active-color;
				}
			}
		}
		.fount()
		{
			&.@{prefix}fount
			{
				border-color: fade(@color, alpha(@color) / 2 * 100);
				background-color: transparent;

				&:hover
				{
					border-color: @hover-color;
					background-color: @hover-color;
				}
				&:active
				{
					border-color: @active-color;
					background-color: @active-color;
				}
			}
		}
		.ghost()
		{
			&.@{prefix}ghost
			{
				border-color: fade(@color, alpha(@color) / 2 * 100);
				background-color: transparent;

				&:hover
				{
					color: @hover-color;
					border-color: @hover-color;

					&, &::after
					{
						color: @hover-color;
					}
				}
				&:active
				{
					color: @active-color;
					border-color: @active-color;

					&, &::after
					{
						color: @active-color;
					}
				}
			}
		}

		.loading()
		{
			&.@{prefix}loading
			{
				color: transparent !important;

				&::after
				{
					content: '';
					// fix disproportions of width and height due to sub-pixel rounding bug
					display: table;
					position: absolute;
					z-index: 100;
					top:  50%;
					left: 50%;
					width:  auto;
					height: auto;
					width:  1.24em;
					height: 1.24em;
					margin-top:  -0.62em;
					margin-left: -0.62em;
					border-radius: 150px;
					border-width: 0.1837em;
					border-style: solid;
					border-color: currentColor transparent transparent currentColor;
					animation: rotateRight 1s infinite linear;
				}
			}
		}
	}
}


// Button template
// --------------------------------------------------

#ui-button()
{
	.template(@font-size, @padding-ver, @padding-hor, @border-width)
	{
		@em: 2 * @padding-ver + 1em * @button-line-height;
		@px: 2 * @border-width;

		min-width:  calc(@em + @px);
		min-height: calc(@em + @px);
		padding:      @padding-ver @padding-hor;
		font-size:    @font-size;
		border-width: @border-width;
	}
	.template(...)
	{
		margin:         @button-margin;
		line-height:    @button-line-height;
		text-transform: @button-text-transform;
		border-radius:  @button-radius;
		border-style:   @button-border-style;

		display: inline-block;
		position: relative;
		overflow: hidden;
		vertical-align: middle;
		font-style: normal;
		text-align: center;
		text-decoration: none;
		border-color: transparent;
		background-clip: border-box;
		cursor: pointer;
		user-select: none;
		appearance: none;
		transition: color 0.1s cubic-bezier(0, 0, 0.2, 1),
					border-color 0.1s cubic-bezier(0, 0, 0.2, 1),
					background-color 0.2s cubic-bezier(0.25,0.8,0.25,1);

		// remove text-decoration for links
		&:hover
		{
			text-decoration: none;
		}
	}


	.sizes(@font-size, @class-prefix)
	{
		#ui.fs-sizes-mixins(@font-size, @class-prefix);
	}


	.hover-bg(@hover-color, @bg-color) when (iscolor(@hover-color))
	{
		result: @hover-color;
	}
	.hover-bg(@hover-color, @bg-color) when not (iscolor(@hover-color))
	{
		@is-transparent: if(@bg-color = transparent, true, false);
		@is-white: if((red(@bg-color) = 255) and (green(@bg-color) = 255) and (blue(@bg-color) = 255), true, false);
		@is-black: if((red(@bg-color) = 0)   and (green(@bg-color) = 0)   and (blue(@bg-color) = 0),   true, false);

		& when (@is-white), (@is-transparent)
		{
			result: shade(@bg-color, 10%);
		}
		& when (@is-black) and not (@is-transparent)
		{
			result: tint(@bg-color, 20%);
		}

		& when not (@is-white) and not (@is-black) and not (@is-transparent)
		{
			& when (@hover-color = default)
			{
				result: spin(saturate(@bg-color, 20%), 10);
			}
			& when (@hover-color = dark)
			{
				result: shade(@bg-color, 20%);
			}
			& when (@hover-color = darken)
			{
				result: darken(@bg-color, 15%);
			}
			& when (@hover-color = light)
			{
				result: tint(@bg-color, 20%);
			}
			& when (@hover-color = lighten)
			{
				result: lighten(@bg-color, 15%);
			}
		}
	}

	.active-bg(@bg-color)
	{
		@rgb: red(@bg-color);
		@is-gray: if(@rgb = green(@bg-color) and @rgb = blue(@bg-color), true, false);

		& when (@is-gray) and (@rgb >= 128)
		{
			result: shade(@bg-color, 5%);
		}
		& when (@is-gray) and (@rgb < 128)
		{
			result: tint(@bg-color, 10%);
		}
		& when not (@is-gray)
		{
			result: spin(desaturate(@bg-color, 25%), 10);
		}
	}
}
