#ui()
{
	.dropdown-list()
	{
		&, ul
		{
			display: none;
			position: absolute;
			z-index: 3;
			overflow: visible;
			line-height: @line-height-normal;
			list-style: none;
		}
		&
		{
			min-width: 100%;
			top: 100%;
			left: 0;
		}
		ul
		{
			top: 0;
			left: 100%;
			font-size: 1em;
		}


		&.__fixed
		{
			position: fixed;
			top: auto;
		}

		&.__opened, li:hover > ul, ul:hover
		{
			display: block !important;
		}

		li
		{
			display: block;
			position: relative;
			cursor: pointer;

			&.__ignore
			{
				cursor: default;
			}
		}
	}
}
