#ui()
{
	.radio(
		@selector: @radio-class-selector,
		@prefix: @crbox-class-prefix)
	{
		#ui-radio.construct(@selector, @prefix);
	}
}

#ui-radio()
{
	._states()
	{
		.default()
		{
			font-size: @crbox-font-size;
		}

		.hover() {};
		.active() {};
		.checked() {};
		.disabled() {};
		.disabled_checked() {};
	}

	.construct(@_selector, @prefix)
	{
		@selector: ~'.@{prefix}@{_selector}';

		#ui-radio._states();
		.states();

		@font-size: .default[font-size];

		#ui-radio.template(@selector);
		#ui-radio.sizes(@font-size, @prefix, @selector);

		&
		{
			.__radio-states();

			& + @{selector}
			{
				.default();
			}
			& + @{selector}:hover,
			label:hover & + @{selector}
			{
				.hover();
			}
			& + @{selector}:active,
			label:hover & + @{selector}:active
			{
				.active();
			}
			&:checked + @{selector},
			&:checked + @{selector}:hover,
			&:checked + @{selector}:active,
			label:hover &:checked + @{selector}
			{
				.checked();
			}
			&:disabled + @{selector},
			&:disabled + @{selector}:hover,
			&:disabled + @{selector}:active,
			label:hover &:disabled + @{selector}
			{
				.disabled();
			}
			&:disabled:checked + @{selector},
			&:disabled:checked + @{selector}:hover,
			&:disabled:checked + @{selector}:active,
			label:hover &:disabled:checked + @{selector}
			{
				.disabled-checked();
			}
		}
	}

	.template(@selector)
	{
		position: absolute !important;
		width:  1px !important;
		height: 1px !important;
		clip:   rect(1px, 1px, 1px, 1px) !important;

		& + @{selector}
		{
			display: inline-block;
			vertical-align: middle;
			position: relative;
			cursor: pointer;
			user-select: none;
			line-height: 0 !important;
			padding: 0 !important;
		}
		&:disabled + @{selector}
		{
			cursor: auto !important;
		}

		& + @{selector}:after
		{
			content: '';
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			border-radius: inherit;
			background-color: currentColor;
		}
	}
}
