#ui()
{
	.rangefield()
	{
		.params();
		#ui-rangefield._params();

		#ui-rangefield.construct(@font-size, @track-height, @thumb-width, @thumb-height);
		#ui-rangefield.sizes(@font-size, @prefix);
	}
}

#ui-rangefield()
{
	// https://cssportal.com/style-input-range/

	._params()
	{
		@prefix:       @rangefield-class-prefix;
		@font-size:    @rangefield-font-size;
		@track-height: @rangefield-track-height;
		@thumb-width:  @rangefield-thumb-width;
		@thumb-height: @rangefield-thumb-height;
	}
	._states()
	{
		.track()
		{
			.default() {};
			.hover() {};
			.focus() {};
			.disabled() {};
		}
		.thumb()
		{
			.default() {};
			.hover() {};
			.focus() {};
			.disabled() {};
		}
	}

	.construct(@font-size, @track-height, @thumb-width, @thumb-height)
	{
		.states();
		#ui-rangefield._states();

		#ui-rangefield.template(@font-size, @track-height, @thumb-width, @thumb-height);

		&
		{
			.track();

			&::-webkit-slider-runnable-track
			{
				.default();
			}
			&::-moz-range-track
			{
				.default();
			}
			&::-ms-track
			{
				.default();
			}

			&:hover::-webkit-slider-runnable-track
			{
				.hover();
			}
			&:hover::-moz-range-track
			{
				.hover();
			}
			&:hover::-ms-track
			{
				.hover();
			}

			&:focus::-webkit-slider-runnable-track
			{
				.focus();
			}
			&:focus::-moz-range-track
			{
				.focus();
			}
			&:focus::-ms-track
			{
				.focus();
			}

			&:disabled::-webkit-slider-runnable-track
			{
				.disabled() !important;
			}
			&:disabled::-moz-range-track
			{
				.disabled() !important;
			}
			&:disabled::-ms-track
			{
				.disabled() !important;
			}
		}

		&
		{
			.thumb();

			&::-webkit-slider-thumb
			{
				.default();
			}
			&::-moz-range-thumb
			{
				.default();
			}
			&::-ms-thumb
			{
				.default();
			}

			&:hover::-webkit-slider-thumb
			{
				.hover();
			}
			&:hover::-moz-range-thumb
			{
				.hover();
			}
			&:hover::-ms-thumb
			{
				.hover();
			}

			&:focus::-webkit-slider-thumb
			{
				.focus();
			}
			&:focus::-moz-range-thumb
			{
				.focus();
			}
			&:focus::-ms-thumb
			{
				.focus();
			}

			&:disabled::-webkit-slider-thumb
			{
				.disabled() !important;
			}
			&:disabled::-moz-range-thumb
			{
				.disabled() !important;
			}
			&:disabled::-ms-thumb
			{
				.disabled() !important;
			}
		}
	}

	.template(@font-size, @track-height, @thumb-width, @thumb-height)
	{
		@max: if(@track-height > @thumb-height, @track-height, @thumb-height);

		height: calc(@max + 2 * @rangefield-thumb-border-width);
		font-size: @font-size;

		box-sizing: content-box;
		display: block;
		cursor: pointer;
		width: 100%;
		border-radius: 0;
		background: transparent;
		appearance: none;

		@track:
		{
			height: @track-height;
			box-sizing: content-box;
			cursor: pointer;
			box-shadow: none;
			border-radius: 0;
			border: none !important;
		}
		@thumb:
		{
			width:  @thumb-height;
			height: @thumb-width;
			border: @rangefield-thumb-border-width solid transparent;

			box-sizing: content-box;
			cursor: pointer;
			background-clip: padding-box !important;
			box-shadow: none;
			appearance: none;
		}


		&::-webkit-slider-runnable-track
		{
			@track();
		}
		&::-moz-range-track
		{
			@track();
		}
		&::-ms-track
		{
			@track();
			color: transparent !important;
		}
		&::-ms-fill-lower, &::-ms-fill-upper
		{
			color: transparent !important;
			border: none !important;
			background-color: transparent !important;
			box-shadow: none !important;
		}


		&::-webkit-slider-thumb
		{
			@thumb();

			@thumb-half: @thumb-height / 2;
			@track-half: @track-height / 2;
			margin-top: calc(-1 * (@thumb-half - @track-half + @rangefield-thumb-border-width));
		}
		&::-moz-range-thumb
		{
			@thumb();
		}
		&::-ms-thumb
		{
			@thumb();
		}


		&:disabled
		{
			cursor: @rangefield-disabled-cursor;
			opacity: @rangefield-disabled-opacity;
		}
		&:disabled::-webkit-slider-runnable-track, &:disabled::-webkit-slider-thumb
		{
			cursor: @rangefield-disabled-cursor;
		}
		&:disabled::-moz-range-track, &:disabled::-moz-range-thumb
		{
			cursor: @rangefield-disabled-cursor;
		}
		&:disabled::-ms-track, &:disabled::-ms-thumb
		{
			cursor: @rangefield-disabled-cursor;
		}
	}


	.sizes(@font-size, @prefix)
	{
		#ui.fs-sizes-mixins(@font-size, @prefix);
	}
}
