#ui()
{
	.clearfix(@clear: both)
	{
		&:after
		{
			content: '';
			clear: @clear;
			display: block;
			visibility: hidden;
			height: 0;
			font-size: 0;
			line-height: 0;
		}
	}

	.hide-text()
	{
		font-size: 0 !important;
		line-height: 0 !important;
		color: transparent !important;
		text-shadow: none !important;
	}

	.spaces-no(...)
	{
		font-size: 0;
		line-height: 0;
		letter-spacing: -1px;
	}
	.spaces-no(nowrap)
	{
		white-space: nowrap;
	}
	.spaces-yes(...)
	{
		font-size: @font-size-base;
		line-height: @line-height-normal;
		letter-spacing: normal;
		display: inline-block;
	}
	.spaces-yes(@valign: top, @white-space: normal)
	{
		vertical-align: @valign;
		white-space: @white-space;
	}

	.table(@width: 100%)
	{
		float: none;
		display: table;
		width: @width;
	}
	.table-inline(@width: auto)
	{
		float: none;
		display: inline-table;
		width: @width;
	}
	.row()
	{
		float: none;
		display: table-row;
	}
	.cell(@width: auto)
	{
		float: none;
		display: table-cell;
		width: @width;
		vertical-align: top;
	}


	.gradient(@dir: to bottom; @rest...)
	{
		background-image: svg-gradient(@dir, @rest);
		background-image: linear-gradient(@dir, @rest);
	}
	.gradient-s(@color1, @color2: rgba(255,255,255,0))
	{
		background-image: svg-gradient(to bottom right,
			@color1  0%, @color1 25%, @color2 25%, @color2 50%,
			@color1 50%, @color1 75%, @color2 75%, @color2 100%);
		background-image: linear-gradient(-45deg,
			@color1  0%, @color1 25%, @color2 25%, @color2 50%,
			@color1 50%, @color1 75%, @color2 75%, @color2 100%);
	}


	.disable-italic()
	{
		div, span,
		h1, h2, h3, h4, h5, h6, p, blockquote,
		a, abbr, acronym, address, big, cite,
		del, dfn, em, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, dt, dd, li,
		label, legend, th, td,
		input, button, textarea, select,
		menu, nav, output, section, summary,
		time, mark
		{
			&:lang(zh), &:lang(ko), &:lang(ja), &:lang(ar)
			{
				font-style: normal !important;
			}
		}

		input, textarea
		{
			&:lang(zh), &:lang(ko), &:lang(ja), &:lang(ar)
			{
				&::placeholder
				{
					font-style: normal !important;
				}
			}
		}
	}
}


#ui()
{
	.fs-sizes(@fs)
	{
		@s-normal: @fs;

		@step: 0.0714286 * @fs;

		@size-nano:  round(@fs - 4 * @step, 4);
		@size-mini:  round(@fs - 3 * @step, 4);
		@size-tiny:  round(@fs - 2 * @step, 4);
		@size-small: round(@fs - 1 * @step, 4);

		@size-big:   round(@fs +  2 * @step, 4);
		@size-large: round(@fs +  4 * @step, 4);
		@size-huge:  round(@fs +  6 * @step, 4);
		@size-great: round(@fs + 10 * @step, 4);
	}

	.fs-sizes-mixins(@font-size, @prefix)
	{
		#ui.fs-sizes(@font-size);

		.size-nano()  { &.@{prefix}nano  { font-size: @size-nano;  }}
		.size-mini()  { &.@{prefix}mini  { font-size: @size-mini;  }}
		.size-tiny()  { &.@{prefix}tiny  { font-size: @size-tiny;  }}
		.size-small() { &.@{prefix}small { font-size: @size-small; }}

		.size-big()   { &.@{prefix}big   { font-size: @size-big;   }}
		.size-large() { &.@{prefix}large { font-size: @size-large; }}
		.size-huge()  { &.@{prefix}huge  { font-size: @size-huge;  }}
		.size-great() { &.@{prefix}great { font-size: @size-great; }}

		.size-apply()
		{
			.size-nano();
			.size-mini();
			.size-tiny();
			.size-small();

			.size-big();
			.size-large();
			.size-huge();
			.size-great();
		}
	}
}
