#ui-grid-css
{
	.grid()
	{
		position: relative;
		margin: 0 auto;

		display: flex;
		flex-flow: row wrap;

		width: 100%;
		min-width: auto;
		max-width: @grid-width;

		& &, &&--full
		{
			width: auto;
			min-width: 100%;
			max-width: none;
		}
		&&--inline
		{
			display: inline-flex;

			width: auto;
			min-width: auto;
			max-width: 100%;
		}
	}
	.item()
	{
		position: relative;

		flex: 1 1 0;

		width: auto;
		min-width: auto;
		max-width: 100%;
	}


	.width-tight()
	{
		flex-grow: 0;
		flex-basis: auto;

		width: auto;
		max-width: 100%;
	}
	.width-untight()
	{
		flex-grow: 1;
		flex-basis: auto;

		width: auto;
		max-width: 100%;
	}
	.width-auto()
	{
		flex-grow: 1;
		flex-basis: 0;

		width: auto;
		max-width: 100%;
	}


	.width(@width)
	{
		flex-basis: auto;
		width:      @width;
		max-width:  @width;
	}
	.toright(@range)
	{
		@{grid-default-dir}:  @range;
		@{grid-opposite-dir}: auto;
	}
	.toleft(@range)
	{
		@{grid-opposite-dir}: @range;
		@{grid-default-dir}:  auto;
	}
	.offset(@range)
	{
		margin-@{grid-default-dir}: @range !important;
	}
}

#ui-grid-base
{
	._collect()
	{
		@grid: false;
	}

	._generate-mixins()
	{
		.use-grid()
		{
			#ui-grid-base
			{
				._collect()
				{
					@grid: true;
				}
			}
		}
	}

	._generate-css(@collected)
	{
		& when (@collected[@grid])
		{
			@grid: @grid-grid-class;
			@item: @grid-item-class;
			@row: @grid-row-class;
			@col: @grid-col-class;

			.@{grid}
			{
				#ui-grid-css.grid();
			}
			.@{item}
			{
				#ui-grid-css.item();
			}
		}
	}
}

#ui-grid-columns
{
	._collect(@bp-search, @postfix-search, @only) {}

	._generate-mixins(
		@bp-class,
		@cols-total,
		@postfix: false,
		@col-number: 0) when (@col-number <= @cols-total)
	{
		@postfix-norm: if(@postfix = false, ~'', ~'-@{postfix}');
		@suffix: ~'@{col-number}@{postfix-norm}';

		@prefix-up:    if(@grid-up-key   = false, ~'@{bp-class}', ~'@{bp-class}-@{grid-up-key}');
		@prefix-down:  if(@grid-down-key = false, ~'@{bp-class}', ~'@{bp-class}-@{grid-down-key}');
		@prefix-only:  if(@grid-only-key = false, ~'@{bp-class}', ~'@{bp-class}-@{grid-only-key}');


		@params-up: {
			bp-class: @bp-class;
			prefix:   @prefix-up;
			suffix:   @suffix;
			number:   @col-number;
			total:    @cols-total;
		};
		@params-down: {
			bp-class: @bp-class;
			prefix:   @prefix-down;
			suffix:   @suffix;
			number:   @col-number;
			total:    @cols-total;
		};
		@params-only: {
			bp-class: @bp-class;
			prefix:   @prefix-only;
			suffix:   @suffix;
			number:   @col-number;
			total:    @cols-total;
		};


		.@{prefix-up}-@{suffix}
		{
			#ui-grid-columns
			{
				._collect(@bp-search, @postfix-search, @mod)
					when (@bp-search = @bp-class) and (@postfix-search = @postfix) and (@mod = up)
				{
					@width: @params-up;
				}
			}
		}
		.@{prefix-down}-@{suffix}
		{
			#ui-grid-columns
			{
				._collect(@bp-search, @postfix-search, @mod)
					when (@bp-search = @bp-class) and (@postfix-search = @postfix) and (@mod = down)
				{
					@width: @params-down;
				}
			}
		}
		.@{prefix-only}-@{suffix}
		{
			#ui-grid-columns
			{
				._collect(@bp-search, @postfix-search, @mod)
					when (@bp-search = @bp-class) and (@postfix-search = @postfix) and (@mod = only)
				{
					@width: @params-only;
				}
			}
		}

		.@{prefix-up}-toright-@{suffix}
		{
			#ui-grid-columns
			{
				._collect(@bp-search, @postfix-search, @mod)
					when (@bp-search = @bp-class) and (@postfix-search = @postfix) and (@mod = up)
				{
					@toright: @params-up;
				}
			}
		}
		.@{prefix-up}-toleft-@{suffix}
		{
			#ui-grid-columns
			{
				._collect(@bp-search, @postfix-search, @mod)
					when (@bp-search = @bp-class) and (@postfix-search = @postfix) and (@mod = up)
				{
					@toleft: @params-up;
				}
			}
		}
		.@{prefix-up}-offset-@{suffix}
		{
			#ui-grid-columns
			{
				._collect(@bp-search, @postfix-search, @mod)
					when (@bp-search = @bp-class) and (@postfix-search = @postfix) and (@mod = up)
				{
					@offset: @params-up;
				}
			}
		}

		.@{prefix-down}-toright-@{suffix}
		{
			#ui-grid-columns
			{
				._collect(@bp-search, @postfix-search, @mod)
					when (@bp-search = @bp-class) and (@postfix-search = @postfix) and (@mod = down)
				{
					@toright: @params-down;
				}
			}
		}
		.@{prefix-down}-toleft-@{suffix}
		{
			#ui-grid-columns
			{
				._collect(@bp-search, @postfix-search, @mod)
					when (@bp-search = @bp-class) and (@postfix-search = @postfix) and (@mod = down)
				{
					@toleft: @params-down;
				}
			}
		}
		.@{prefix-down}-offset-@{suffix}
		{
			#ui-grid-columns
			{
				._collect(@bp-search, @postfix-search, @mod)
					when (@bp-search = @bp-class) and (@postfix-search = @postfix) and (@mod = down)
				{
					@offset: @params-down;
				}
			}
		}

		.@{prefix-only}-toright-@{suffix}
		{
			#ui-grid-columns
			{
				._collect(@bp-search, @postfix-search, @mod)
					when (@bp-search = @bp-class) and (@postfix-search = @postfix) and (@mod = only)
				{
					@toright: @params-only;
				}
			}
		}
		.@{prefix-only}-toleft-@{suffix}
		{
			#ui-grid-columns
			{
				._collect(@bp-search, @postfix-search, @mod)
					when (@bp-search = @bp-class) and (@postfix-search = @postfix) and (@mod = only)
				{
					@toleft: @params-only;
				}
			}
		}
		.@{prefix-only}-offset-@{suffix}
		{
			#ui-grid-columns
			{
				._collect(@bp-search, @postfix-search, @mod)
					when (@bp-search = @bp-class) and (@postfix-search = @postfix) and (@mod = only)
				{
					@offset: @params-only;
				}
			}
		}


		#ui-grid-columns._generate-mixins(
			@bp-class,
			@cols-total,
			@postfix,
			@col-number + 1);
	}

	._generate-css(@collected)
	{
		each(@collected, .(@data, @type-var, @index)
		{
			@type: replace(@type-var, '@', '');
			@number: @data[number];

			.check-uniq(@i) when (@i = 0)
			{
				@prefix: @data[prefix];
				@stem:   if(@type = width, ~'', ~'-@{type}');
				@suffix: @data[suffix];

				.@{prefix}@{stem}-@{suffix}
				{
					@ratio: @number / @data[total];
					@rate:  round(percentage(@ratio), 4);

					& when (@type = width)
					{
						#ui-grid-css.width(@rate);
					}
					& when (@type = toright)
					{
						#ui-grid-css.toright(@rate);
					}
					& when (@type = toleft)
					{
						#ui-grid-css.toleft(@rate);
					}
					& when (@type = offset)
					{
						#ui-grid-css.offset(@rate);
					}
				}
			}

			.check-uniq(@i) when (@i > 0)
			{
				each(@collected, .(@data-before, @type-var-before, @ii)
				{
					@type-before:   replace(@type-var-before, '@', '');
					@number-before: @data-before[number];

					& when  (@ii = @i) and not (@type-before = @type),
							(@ii = @i) and not (@number-before = @number)
					{
						.check-uniq(@i - 1);
					}
				});
			}
			.check-uniq(@index - 1);
		});
	}
}


#ui-grid-helpers
{
	._collect(@bp-search, @only) {}

	._generate-mixins(@bp-class)
	{
		@prefix-up:    if(@grid-up-key   = false, ~'@{bp-class}', ~'@{bp-class}-@{grid-up-key}');
		@prefix-down:  if(@grid-down-key = false, ~'@{bp-class}', ~'@{bp-class}-@{grid-down-key}');
		@prefix-only:  if(@grid-only-key = false, ~'@{bp-class}', ~'@{bp-class}-@{grid-only-key}');


		@params-up: {
			bp-class: @bp-class;
			prefix:   @prefix-up;
		};
		@params-down: {
			bp-class: @bp-class;
			prefix:   @prefix-down;
		};
		@params-only: {
			bp-class: @bp-class;
			prefix:   @prefix-only;
		};

		.@{prefix-up}-tight
		{
			#ui-grid-helpers
			{
				._collect(@bp-search, @mod) when (@bp-search = @bp-class) and (@mod = up)
				{
					@tight: @params-up;
				}
			}
		}
		.@{prefix-up}-untight
		{
			#ui-grid-helpers
			{
				._collect(@bp-search, @mod) when (@bp-search = @bp-class) and (@mod = up)
				{
					@untight: @params-up;
				}
			}
		}
		.@{prefix-up}-auto
		{
			#ui-grid-helpers
			{
				._collect(@bp-search, @mod) when (@bp-search = @bp-class) and (@mod = up)
				{
					@auto: @params-up;
				}
			}
		}

		.@{prefix-down}-tight
		{
			#ui-grid-helpers
			{
				._collect(@bp-search, @mod) when (@bp-search = @bp-class) and (@mod = down)
				{
					@tight: @params-down;
				}
			}
		}
		.@{prefix-down}-untight
		{
			#ui-grid-helpers
			{
				._collect(@bp-search, @mod) when (@bp-search = @bp-class) and (@mod = down)
				{
					@untight: @params-down;
				}
			}
		}
		.@{prefix-down}-auto
		{
			#ui-grid-helpers
			{
				._collect(@bp-search, @mod) when (@bp-search = @bp-class) and (@mod = down)
				{
					@auto: @params-down;
				}
			}
		}

		.@{prefix-only}-tight
		{
			#ui-grid-helpers
			{
				._collect(@bp-search, @mod) when (@bp-search = @bp-class) and (@mod = only)
				{
					@tight: @params-only;
				}
			}
		}
		.@{prefix-only}-untight
		{
			#ui-grid-helpers
			{
				._collect(@bp-search, @mod) when (@bp-search = @bp-class) and (@mod = only)
				{
					@untight: @params-only;
				}
			}
		}
		.@{prefix-only}-auto
		{
			#ui-grid-helpers
			{
				._collect(@bp-search, @mod) when (@bp-search = @bp-class) and (@mod = only)
				{
					@auto: @params-only;
				}
			}
		}
	}

	._generate-css(@collected)
	{
		each(@collected, .(@data, @type-var, @index)
		{
			@type: replace(@type-var, '@', '');

			.check-uniq(@i) when (@i = 0)
			{
				@prefix: @data[prefix];
				@stem: @type;

				.@{prefix}-@{stem}
				{
					& when (@type = tight)
					{
						#ui-grid-css.width-tight();
					}
					& when (@type = untight)
					{
						#ui-grid-css.width-untight();
					}
					& when (@type = auto)
					{
						#ui-grid-css.width-auto();
					}
				}
			}

			.check-uniq(@i) when (@i > 0)
			{
				each(@collected, .(@data-before, @type-var-before, @ii)
				{
					@type-before: replace(@type-var-before, '@', '');

					& when (@ii = @i) and not (@type-before = @type)
					{
						.check-uniq(@i - 1);
					}
				});
			}

			.check-uniq(@index - 1);
		});
	}
}

#ui-grid
{
	._mixins()
	{
		#ui-grid-base._generate-mixins();

		each(@break-points-order, .(@bp-name)
		{
			@class: @break-points[@@bp-name][class];
			@from:  @break-points[@@bp-name][from];
			@to:    @break-points[@@bp-name][to];

			each(@grid-columns, .(@grid-cols)
			{
				@postfix: @grid-cols[postfix];
				@columns: @grid-cols[columns];

				#ui-grid-columns._generate-mixins(@class, @columns, @postfix);
			});

			#ui-grid-helpers._generate-mixins(@class);
		});
	}

	._collect()
	{
		@grid-base: #ui-grid-base._collect();
		#ui-grid-base._generate-css(@grid-base);

		each(@break-points-order, .(@bp-name)
		{
			@class: @break-points[@@bp-name][class];
			@from:  @break-points[@@bp-name][from];
			@to:    @break-points[@@bp-name][to];

			@mq-up:   @break-points[@@bp-name][mq-up];
			@mq-down: @break-points[@@bp-name][mq-down];
			@mq-only: @break-points[@@bp-name][mq-only];

			@css-up:
			{
				each(@grid-columns, .(@grid-cols)
				{
					@postfix: @grid-cols[postfix];

					@cols-up: #ui-grid-columns._collect(@class, @postfix, up);
					#ui-grid-columns._generate-css(@cols-up);
				});

				@hels-up: #ui-grid-helpers._collect(@class, up);
				#ui-grid-helpers._generate-css(@hels-up);
			};

			@css-down:
			{
				each(@grid-columns, .(@grid-cols)
				{
					@postfix: @grid-cols[postfix];

					@cols-up: #ui-grid-columns._collect(@class, @postfix, down);
					#ui-grid-columns._generate-css(@cols-up);
				});

				@hels-up: #ui-grid-helpers._collect(@class, down);
				#ui-grid-helpers._generate-css(@hels-up);
			};

			@css-only:
			{
				each(@grid-columns, .(@grid-cols)
				{
					@postfix: @grid-cols[postfix];

					@cols-only: #ui-grid-columns._collect(@class, @postfix, only);
					#ui-grid-columns._generate-css(@cols-only);
				});

				@hels-only: #ui-grid-helpers._collect(@class, only);
				#ui-grid-helpers._generate-css(@hels-only);
			};

			#ui-grid._apply-collected(@mq-up,   @css-up);
			#ui-grid._apply-collected(@mq-down, @css-down);
			#ui-grid._apply-collected(@mq-only, @css-only);
		});
	}

	._apply-collected(@media-query, @css)
	{
		& when (@media-query = start)
		{
			@css();
		}
		& when not (@media-query = start) and not (@media-query = false)
		{
			@media @media-query
			{
				@css();
			}
		}
	}
}

#ui-grid._mixins();

&
{
	#ui-grid._collect();
}
