@break-points: {
	@1: {
		name: small;
		from: 0;
		to: 541px;
	}
	@2: {
		name: medium;
		from: 542px;
		to: 992px
	}
	@3: {
		name: large;
		from: 993px;
		to: 0;
	}
};

@grid-only-suffix: only;


@columns-count: 24;
