// TYPO
// --------------------------------------------------

@color-base: #000;
@color-base-bg: #FFF;

@color-primary: #009AFF;
@color-heading: #222;

@color-link: #0082CC;
@color-selection: #338FFF;