// TYPO
// --------------------------------------------------

@color-base: #000;
@color-base-bg: #FFF;

@color-primary: #009AFF;
@color-heading: #222;

@color-link: #009AFF;
@color-selection: #338FFF;
@color-tap-highlight: rgba(0,0,0,0.1);
