#ui
{
	._grid-calc(@colNumber, @totalColumns)
	{
		@result: percentage((@colNumber / @totalColumns));
	}

	._grid-size-loop(@size, @counter-postfix, @totalColumns, @counter) when (@counter > 0)
	{
		#ui > ._grid-size-loop(@size, @counter-postfix, @totalColumns, (@counter - 1));

		.@{size}-@{counter}@{counter-postfix}
		{
			#ui > ._grid-calc(@counter, @totalColumns);
			width: @result;
		}

		@counter-1: (@counter - 1);

		.@{size}-push-@{counter-1}@{counter-postfix}
		{
			#ui > ._grid-calc(@counter-1, @totalColumns);
			@{default-direction}: @result;
			@{opposite-direction}: auto;
		}
		.@{size}-pull-@{counter-1}@{counter-postfix}
		{
			#ui > ._grid-calc(@counter-1, @totalColumns);
			@{opposite-direction}: @result;
			@{default-direction}: auto;
		}
		.@{size}-offset-@{counter-1}@{counter-postfix}
		{
			#ui > ._grid-calc(@counter-1, @totalColumns);
			margin-@{default-direction}: @result !important;
		}
	}

	._grid-classes(@row, @col, @size, @size-name)
	{
		@_gutter: '@{size}-column-gutter';
		@gutter: @@_gutter;

		.@{row}
		{
			&.@{size-name}-collapse
			{
				& > .@{col}
				{
					padding-left:  0;
					padding-right: 0;
				}

				& > .@{col} > .@{row}
				{
					margin-left:  0;
					margin-right: 0;
				}
			}
			&.@{size-name}-uncollapse
			{
				& > .@{col}
				{
					padding-left:  (@gutter / 2);
					padding-right: (@gutter / 2);
				}

				& > .@{col} > .@{row}
				{
					margin-left:  (-1 * @gutter / 2);
					margin-right: (-1 * @gutter / 2);
				}
			}

			.@{row}
			{
				margin-left:  (-1 * @gutter / 2);
				margin-right: (-1 * @gutter / 2);
			}
		}

		.@{col}
		{
			padding-left:  (@gutter / 2);
			padding-right: (@gutter / 2);

			&.@{size-name}-centered
			{
				margin-left: auto;
				margin-right: auto;
				float: none;
			}
			&.@{size-name}-uncentered
			{
				margin-left: 0;
				margin-right: 0;
				float: @default-direction;
			}

			&.@{size-name}-reset-order
			{
				float: @default-direction;
				left: auto;
				right: auto;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.grid(
		@row: row,
		@col: col,
		@small: @small-class,
		@medium: @medium-class,
		@large: @large-class)
	{
		.@{row}
		{
			#ui > .clearfix();

			display: block;
			position: relative;
			margin: 0 auto;
			max-width: @width-row;
			width: 100%;

			&.full
			{
				max-width: none;
			}

			&.row-inline
			{
				white-space: nowrap;
				letter-spacing: -1px;
				font-size: 0;

				.@{col}
				{
					float: none !important;
					display: inline-block;
					white-space: normal;
					letter-spacing: normal;
					font-size: 1rem;
					vertical-align: middle;
				}
			}

			.@{row}
			{
				max-width: none;
				width: auto;
			}

			&.collapse, & &.collapse
			{
				margin-left: 0;
				margin-right: 0;
				max-width: none;
				width: auto;

				& > .@{col}
				{
					padding-left:  0;
					padding-right: 0;
				}

				& > .@{col} > .@{row}
				{
					margin-left:  0;
					margin-right: 0;
				}
			}
		}

		.@{col}
		{
			position: relative;
			width: 100%;
			float: @default-direction;

			&.opposite
			{
				float: @opposite-direction;
			}
		}

		@media @small-up
		{
			#ui > ._grid-classes(@row, @col, small, @small);
		}
		@media @medium-up
		{
			#ui > ._grid-classes(@row, @col, medium, @medium);
		}
		@media @large-up
		{
			#ui > ._grid-classes(@row, @col, large, @large);
		}
	}

	.grid-size(
		@totalColumns: @total-columns,
		@counter-postfix: e(''),
		@small: @small-class,
		@medium: @medium-class,
		@large: @large-class)
	{
		@media @small-up
		{
			#ui > ._grid-size-loop(@small, @counter-postfix, @totalColumns, @totalColumns);
		}
		@media @medium-up
		{
			#ui > ._grid-size-loop(@medium, @counter-postfix, @totalColumns, @totalColumns);
		}
		@media @large-up
		{
			#ui > ._grid-size-loop(@large, @counter-postfix, @totalColumns, @totalColumns);
		}
	}
}