#ui
{
	.standart_progress_bar(@size: normal) when (@size = normal)
	{
		border: 5px solid transparent;
		background-color: #FFF;
		border-radius: (5px + 3px);
		box-shadow: inset 0 0 0 1px #DADADA;

		.progress
		{
			padding: 0.4em 0.4em (0.4em + 0.1em);
			padding-left: 0 !important;
			padding-right: 0 !important;
			background-color: #c5def9;
			border-radius: 3px 0 0 3px;
			font-size: inherit;
			font-weight: normal;
			font-style: normal;
			color: #0082CC;

			&.complete
			{
				box-shadow: none;
				border-radius: 3px;
				background: #0082CC;
				color: #FFF;
			}
		}

		#ui > .progress_bar > .template;
	}

	.standart_progress_bar(small)
	{
		height: 6px;
		overflow: hidden;
		background-color: #FFF;
		border-radius: 5px;
		box-shadow: inset 0 0 0 1px #DADADA;

		&.complete { box-shadow: none; }

		.progress
		{
			border-radius: 5px 0 0 5px;
			background-color: #0082CC;

			&.complete { border-radius: 5px; }
			&:before, &:after
			{
				content: none !important;
			}
		}

		#ui > .progress_bar > .template;
	}
}

#ui
{
	.progress_bar
	{
		.template
		{
			display: block;
			position: relative;
			z-index: 1;
			background-clip: padding-box;

			.progress
			{
				display: block;
				height: 100%;
				max-width: 100%;
				//.animation(ui_bganim 2s linear infinite);

				&.complete
				{
					width: 100%;
					animation: none;
				}

				&:before
				{
					content: '.';
					display: block;
					font: inherit;
					line-height: 1;
					color: transparent;
					opacity: 0;
					visibility: hidden;
				}

				&:after
				{
					content: attr(data-value);
					display: block;
					position: absolute;
					z-index: 2;
					top: 0;
					left: 0;
					width: 100%;
					font: inherit;
					line-height: 1;
					color: inherit;
					text-align: center;
					padding: inherit;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}


@-webkit-keyframes ui_bganim {
	from {background-position:0px 0px;} to { background-position:20px 0px;}
}
@-moz-keyframes ui_bganim {
	from {background-position:0px 0px;} to { background-position:20px 0px;}
}
@-ms-keyframes ui_bganim {
	from {background-position:0px 0px;} to { background-position:20px 0px;}
}
@-o-keyframes ui_bganim {
	from {background-position:0px 0px;} to { background-position:20px 0px;}
}
@keyframes ui_bganim {
	from {background-position:0px 0px;} to { background-position:20px 0px;}
}



#ui
{
	.attachments()
	{
		border-radius: 3px;
		overflow: hidden;
		vertical-align: middle;
		position: relative;
		min-height: 33px;
		padding: 0.4em;
		padding-right: (unit(25 / (1 * @font-size-root), em) + 0.4em * 2);
		background-color: #FFF;
		background-size: auto unit(20 / (1 * @font-size-root), em);
		background-repeat: no-repeat;
		background-position: right center;

		.file
		{
			display: block;
			line-height: 20px;
			vertical-align: middle;
			font-size: inherit;
			font-weight: normal;
			font-style: normal;
			color: #176398;
			text-decoration: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover { text-decoration: none; }
		}

		img, .img
		{
			float: left;
			margin-right: 10px;
			height: 22px;
			border: 1px solid transparent;
			cursor: pointer;
		}

		.img img
		{
			display: block;
			margin: 0;
		}

		button, .trash
		{
			border-radius: 0 5px 5px 0 !important;
			position: absolute !important;
			top: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			text-indent: 100%;
			font: inherit;
			cursor: pointer;
			border: none;
			width: (unit(25 / (1 * @font-size-root), em) + 0.4em);
			background-color: transparent;
			background-image: url('@{dir-img}/framework/images/delete5.png');
			background-size: auto unit(20 / (1 * @font-size-root), em);
			background-repeat: no-repeat;
			background-position: right center;
		}

		&.approved
		{
			background-image: url('@{dir-img}/framework/images/valid5.png');
		}

		&.denied
		{
			background-image: url('@{dir-img}/framework/images/invalid5.png');
		}

		&.approved, &.denied
		{
			button, .trash
			{
				opacity: 0;
				transform: scale(0.25);
				background-color: inherit;
				transition: opacity 0.2s ease, transform 0.3s ease;
			}
		}

		&:hover
		{
			&.approved, &.denied
			{
				button, .trash
				{
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
}