// COMMON
// --------------------------------------------------

@dir-img: '../images';
@width-base: 102rem;
@width-wrapper: @width-base;


// TYPO
// --------------------------------------------------

@font-family-serif: Georgia, Times, Times New Roman, serif;
@font-family-sans:  Roboto, Open Sans, Helvetica Neue, Helvetica, Arial, Geneva, Helmet, Freesans, sans-serif;
@font-family-mono:  monospace;

@font-family-serif-heading: @font-family-serif;
@font-family-sans-heading:  @font-family-sans;

@font-size-root:   10px;
@line-height-normal: 1.25;

@font-size-base:   1.5rem;
@font-family-base: @font-family-sans;
@line-height-base: 1.25;

@font-size-h1: 4.8rem;
@font-size-h2: 3.6rem;
@font-size-h3: 2.4rem;
@font-size-h4: 1.9rem;
@font-size-h5: 1.7rem;
@font-size-h6: 1.5rem;


// BUTTONS
// --------------------------------------------------

@button-padding-ver: 0.68em;
@button-padding-hor: 1.15em;
@button-margin: 0.8rem;

@button-circle-padding-ver: 0.37em;
@button-circle-padding-hor: 0.74em;

@button-border-width: 1px;
@button-border-style: solid;
@button-radius: 0.1429em;

@button-font-size: 1.4rem;
@button-font-size-large: 1.8rem;
@button-font-size-small: 1rem;


// TOOLTIP
// --------------------------------------------------

@arrow-width: 0.55em;
@arrow-offset: 0.75em;


// GRID
// --------------------------------------------------

@width-grid: @width-base;
@total-columns: 12;
@opposite-direction: right;
@default-direction: left;

@small-class: small;
@medium-class: medium;
@large-class: large;
@xlarge-class: xlarge;
@xxlarge-class: xxlarge;

@small-column-gutter: 2rem;
@medium-column-gutter: 3rem;
@large-column-gutter: 3rem;
@xlarge-column-gutter: 4rem;
@xxlarge-column-gutter: 4rem;

@small-breakpoint:  640px;
@medium-breakpoint: 1024px;
@large-breakpoint:  1440px;
@xlarge-breakpoint: 1920px;

@small-range-from: 0;
@small-range-to: @small-breakpoint;

@medium-range-from: (@small-breakpoint  + 1px);
@medium-range-to: @medium-breakpoint;

@large-range-from: (@medium-breakpoint + 1px);
@large-range-to: @large-breakpoint;

@xlarge-range-from: (@large-breakpoint  + 1px);
@xlarge-range-to: @xlarge-breakpoint;

@xxlarge-range-from: (@xlarge-breakpoint + 1px);
@xxlarge-range-to: 100000px;

@screen: e("only screen");

@landscape: @screen e("and (orientation: landscape)");
@portrait:  @screen e("and (orientation: portrait)");
@retina: e("(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)");

@small-up:   @screen;
@small-only: @screen e("and (max-width:") @small-range-to e(")");

@medium-up:   @screen e("and (min-width:") @medium-range-from e(")");
@medium-only: @screen e("and (min-width:") @medium-range-from e(") and (max-width:") @medium-range-to e(")");

@large-up:   @screen e("and (min-width:") @large-range-from e(")");
@large-only: @screen e("and (min-width:") @large-range-from e(") and (max-width:") @large-range-to e(")");

@xlarge-up:   @screen e("and (min-width:") @xlarge-range-from e(")");
@xlarge-only: @screen e("and (min-width:") @xlarge-range-from e(") and (max-width:") @xlarge-range-to e(")");

@xxlarge-up:   @screen e("and (min-width:") @xxlarge-range-from e(")");
@xxlarge-only: @screen e("and (min-width:") @xxlarge-range-from e(")");


@small-lower: @screen e("and (max-width:") (@small-range-from - 1px) e(")");
@small-higher: @medium-up;

@medium-lower: @screen e("and (max-width:") @small-range-to e(")");
@medium-higher: @large-up;

@large-lower: @screen e("and (max-width:") @medium-range-to e(")");
@large-higher: @xlarge-up;

@xlarge-lower: @screen e("and (max-width:") @large-range-to e(")");
@xlarge-higher: @xxlarge-up;

@xxlarge-lower: @screen e("and (max-width:") @xlarge-range-to e(")");
@xxlarge-higher: @screen e("and (min-width:") @xxlarge-range-to e(")");


