#ui-grid-base
{
	.collect()
	{
		@grid: false;
	}

	.generate-mixins()
	{
		.use-grid()
		{
			#ui-grid-base
			{
				.collect()
				{
					@grid: true;
				}
			}
		}
	}

	.generate-css(@collected, @bp-name: false)
	{
		& when (@collected[@grid]) and (@bp-name = false)
		{
			#ui-grid-base-css.grid();
			#ui-grid-base-css.item();
		}
		& when (@collected[@grid]) and not (@bp-name = false)
		{
			@bp-class: @break-points[@@bp-name][class];
			@gap: @break-points[@@bp-name][gap];

			#ui-grid-base-css.gaps(@gap, @bp-class);
		}
	}
}
