html, body
{
	min-height: 100%;
	min-height: 100vh;
}

html
{
	font-size:   unit((100 * @font-size-root / 16), %);
	font-family: @font-base;
	font-weight: normal;
	font-style:  normal;
	line-height: @line-height-base;
	color:       @color-base;
	background:  @color-base-bg;

	/* j.mp/webkit-tap-highlight-color */
	-webkit-tap-highlight-color: @color-tap-highlight;
}

body
{
	position:   relative;
	font-size:  @font-size-base;
	background: inherit;

	// catch last margin-bottom
	&::after
	{
		content: '';
		display: block;
		height: 1px;
		width: 0px;
		margin-top: -1px;
		position: relative;
		z-index: -100;
		visibility: hidden;
		pointer-events: none;
	}
}

::-moz-selection
{
	background: @color-selection-bg;
	color: @color-selection;
	text-shadow: none;
}
::selection
{
	background: @color-selection-bg;
	color: @color-selection;
	text-shadow: none;
}
mark
{
	background: @color-selection-bg;
	color: @color-selection;
	text-shadow: none;
}

a
{
	color: @color-link;
	text-decoration: @link-underline;
}
a:hover
{
	text-decoration: @link-hover-underline;
}
